.contact {
  padding: 10px 0;
  background: #efefef;
}

.contact .container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact .heading {
  text-align: center;
}

.contact .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.contact .heading h2 span {
  color: #528acf;
}

.contact .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
}

.contact .col-md-5,
.contact .col-md-7 {
  padding: 0 15px;
}

.contact .col-md-5 {
  flex: 0 0 41.6667%;
  max-width: 41.6667%;
}

.contact .col-md-7 {
  flex: 0 0 58.3333%;
  max-width: 58.3333%;
}

.contact .title h3 {
  font-size: 18px;
  font-weight: 600;
}

.contact .title p {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
  margin: 0 0 40px;
}

.contact .content .info {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.contact .content .info i {
  font-size: 30px;
  color: #02434b;
  margin-right: 20px;
}

.contact .content .info h4 {
  font-size: 13px;
  line-height: 1.4;
}

.contact .content .info h4 span {
  font-size: 13px;
  font-weight: 300;
  color: #999999;
}

.contact .form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add gap between fields */
}

.contact .form-group {
  margin-bottom: 20px;
}

.contact .form-group input,
.contact .form-group textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}



.contact .form-group textarea {
  resize: vertical;
}

.contact .btn {
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
  background: #47b2e4; /* Updated button color */
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact .btn:hover {
  background: #3598db; /* Slightly darker shade on hover */
}
